
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Przegladaj nasze przepisy</h1>
    <p class="lead">Zaczelo sie od kanapek a jak do tej pory doszlo do gotowania parowek.</p>
    <p class="lead">
      <%= link_to 'Zobacz wiecej', portfolios_path, class:'btn btn-lg btn-custom-color' %>
      
    </p>
  </main>


