
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Ja Gotuje On Piecze</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= link_to 'Home', root_path, class:'nav-link' %>
      <%= blog_helper if logged_in?(:site_admin) %>
      <%= link_to 'Portfolio', portfolios_path, class:'nav-link' %>
      <%= login_helper %>
    </nav>
  </div>
</header>